
<div class="container" id="page-border">


    <div class="container-fluid p-0" id="page-content">
        <!--Page Title goes here-->
        <app-page-title></app-page-title>
        
        <div class="row">
            <div class="col title page-title">
                About
            </div>
        </div>
        <div class="row">
            <div class="col content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ut sollicitudin justo. Donec ultricies, orci a placerat posuere, orci mi semper odio, sed commodo augue mauris id ante. Pellentesque eu euismod eros, id sodales nulla. Sed fringilla nec est aliquet consequat. Aliquam ex eros, laoreet id justo quis, scelerisque mollis turpis. Fusce eget quam id lectus laoreet dictum. Mauris lacinia sagittis efficitur. Praesent enim risus, venenatis nec turpis nec, fermentum efficitur odio. Sed a ex turpis. Mauris sollicitudin pulvinar finibus. Vestibulum facilisis tellus at dapibus dictum. Nullam molestie, dui at accumsan euismod, dui neque dapibus libero, ac dignissim metus magna ullamcorper arcu. Donec orci odio, vestibulum eu nisl et, consequat euismod risus. Etiam condimentum justo id orci hendrerit scelerisque. Donec viverra nisi quis placerat finibus.
            </div>
        </div>
    </div>

</div>