
<div class="container" id="page-border">


    <div class="container-fluid p-0" id="page-content">

        <!--Page Title goes here-->
        <app-page-title></app-page-title>


        <div class="container-fluid p-0">
        <div class="row backgroundcontinued">
            <div class="col title page-title">
                Language Experience
            </div>
        </div>
        <div class="row">
            <div class="col content piechart backgroundcontinued">
                <ngx-charts-advanced-pie-chart [results]="experienceData" [label]="label" ></ngx-charts-advanced-pie-chart>
            </div>
    </div>
    <!-- make an ngfor loop for each section, and then another ngfor loop for each project within that category. like a tag system. -->
    <div class="row backgroundcontinued">
        <div class="title page-title ml-3">Area</div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-4">
                    <img src="https://images.all-free-download.com/images/graphiclarge/belgium_514505.jpg" class="img-thumbnail">
                </div>
                <div class="col">
                    <h1>project title</h1>
                    <h5>skills employed: </h5>
                    <p>description of project</p>
                </div>
            </div>
            <hr class="small-separator"/>
        </div>
    </div>
</div>

</div>
