
<div class="container" id="page-border">


    <div class="container-fluid p-0" id="page-content">
        <div class="row">


            <div class="col-sm-8 title">
            <div class="name">Weston Davidson</div> 
            <div class="page-title">Full-Stack .NET Developer</div>
            <hr class="wide-separator"/>
            <a type="button" href="../assets/Weston_Davidson_Resume.pdf" download="Weston_Davidson_Resume" class="btn btn-primary" >Resume Download</a>
             | 
            <button type="button" class="btn btn-primary">Contact</button>
            </div>
            <div class="col-sm-4">
                <div class="img-border p-2">
                    <img src="https://media-exp1.licdn.com/dms/image/C5603AQEYzgY2yGkZTA/profile-displayphoto-shrink_800_800/0/1517242961382?e=1629936000&v=beta&t=Ll9g4s0ufSfQYYkxDq5PKDUhQkJ94egcq936xj_gjKs"
                        class="ontop-img img-fluid">
                </div>
            </div>
        </div>
        <div class="container-fluid p-0">
        <div class="row backgroundcontinued">
            <div class="col title page-title">
                Language Experience
            </div>
        </div>
        <div class="row">
            <div class="col content piechart backgroundcontinued">
                <ngx-charts-advanced-pie-chart [results]="experienceData" [label]="label" ></ngx-charts-advanced-pie-chart>
            </div>
    </div>
    <!-- make an ngfor loop for each section, and then another ngfor loop for each project within that category. like a tag system. -->
    <div class="row backgroundcontinued">
        <div class="title page-title ml-3">Area</div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-4">
                    <img src="https://images.all-free-download.com/images/graphiclarge/belgium_514505.jpg" class="img-thumbnail">
                </div>
                <div class="col">
                    <h1>project title</h1>
                    <h5>skills employed: </h5>
                    <p>description of project</p>
                </div>
            </div>
            <hr class="small-separator"/>
        </div>
    </div>
</div>

</div>

9104707939
