
<div class="container" id="page-border">


    <div class="container-fluid p-0" id="page-content">
        <div class="row">


            <div class="col-sm-8 title">
            <div class="name">Weston Davidson</div> 
            <div class="page-title">Full-Stack .NET Developer</div>
            <hr class="wide-separator"/>
            
            </div>
            <div class="col-sm-4">
                <div class="img-border p-2">
                    <img src="https://media-exp1.licdn.com/dms/image/C5603AQEYzgY2yGkZTA/profile-displayphoto-shrink_800_800/0/1517242961382?e=1629936000&v=beta&t=Ll9g4s0ufSfQYYkxDq5PKDUhQkJ94egcq936xj_gjKs"
                        class="ontop-img img-fluid">
                </div>
            </div>
        </div>
        <div class="container-fluid p-0">
        <div class="row backgroundcontinued">
            <div class="col title page-title">
                Language Experience - Months
            </div>
        </div>
        <div class="row">
            <div class="col content piechart backgroundcontinued">
                <app-experience-charts></app-experience-charts>
            </div>
    </div>
    <div class="row backgroundcontinued">
        <div class="col">
            This is where descriptions of my technologies will go.
        </div>

    </div>
</div>

</div>